{% extends "base.html" %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/edit_form.css' %}"/>
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/dom_utils.js' %}"></script>
<script src="{% static 'js/form_setup.js' %}"></script>
<script src="{% static 'js/message_handler.js' %}"></script>
<script src="{% static 'js/edit_form.js' %}"></script>
<script src="{% static 'js/run_form.js' %}"></script>
{% endblock %}

{% block content %}
<div id="item_edit" style="display:none;">
    <form id="" method="POST" action="">
        <label>Name</label><input name="item.name" type="text" value="{{ item.name }}"/><br>
        <label>Description</label><input name="item.description" type="text" value="{{ item.description }}"/><br>
        <label>Price</label><input name="item.price" type="number" value="{{ item.price }}"/><br>
    </form>
    <button id="" class="switch_display">Save</button></br>
</div>
<div id="item_display">
    <h3 name="item.name">{{ item.name }}</h3>
    <p name="item.description">{{ item.description }}</p>
    <p name="item.price">{{ item.price }}</p>
    <button id="item_edit.button" class="switch_edit">Edit</button>
</div>

</br>
</br>
<h3>Options</h3>
{% if options|length > 0 %}
<ul>
    {% for key, elem in options.items %}
    <li class="no_list">
        <div>
            <p>{{ key }}</p>
            {% for opt in elem %}
            <div id="{{ opt.optionvalue__value }}_edit.container" style="display:none;">
                <form id="{{ opt.optionvalue__value }}_edit.form">
                    <input name="{{ opt.optionvalue__value }}_edit.name" type="text" value="{{ opt.optionvalue__value }}"/></br>
                    <input name="{{ opt.optionvalue__value }}_edit.available" type="checkbox" {% if opt.available %} checked="true" {% endif %} /><label>Available</label></br>
                    <input name="{{ opt.optionvalue__value }}_edit.default" type="checkbox" {% if opt.defaultoption %} checked="true" {% endif %} /><label>Default</label></br>
                </form>
                <button id="{{ opt.optionvalue__value }}_edit.submit" class="option_submit">Save</button></br>
            </div>
            <div id="{{ opt.optionvalue__value }}_display">
                
                <input {% if not opt.available %} disabled="true" onclick="this.checked=false" {% endif %} type="radio" name="{{ opt.option__name }}" value="{{ opt.id }}" {% if opt.defaultoption %} checked="true" {% endif %}><label {% if not opt.available %} style="color:lightgrey" {% endif %}>  {{ opt.optionvalue__value }}</label><button id="{{ key }}_edit.button" class="switch_edit">Edit</button></br>
            </div>
            {% endfor %}
        </div>
    </li>
    {% empty %}
    <li>Unable to Find Item and Options</li>
    {% endfor %}
</ul>
{% else %} 
<p>No Options</p>
{% endif %}
{% endblock %}